h1{
    border: 3px solid rgb(196, 10, 10);
    border-radius: 20px;
    background-color: hsl(187, 90%, 23%);
    color: #eaeef0;
    font-size: 37px;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
  }
.tabs{
    /*margin: 5%*/
    margin-left: 10% ;
    font-size:medium;
}
.tabs_alt{
    margin-left: 10% ;
    font-size: small;
}
h2{
    padding-top: 0px;
    margin-top: 10px;
  }

.container_overview{
    border: 3px double rgb(196, 10, 10);
    border-radius: 20px;
    background-color: rgb(240, 241, 230);
    color: #750101;
    font-size: 14px;
    text-align: center;
    margin: 5px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}
.container_general{
    border: 3px double rgb(196, 10, 10);
    border-radius: 20px;
    background-color: rgb(240, 241, 230);
    color: #1e0000;
    font-size: 13px;
    /*text-align: ;

    */
    margin: 5px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}