body{
    min-width: 500px;
    max-width: 1000px;
    /*flex: 2 1 100%;   */
    margin: auto;
    border: 2px green solid;
   


}
body > #container{
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    border: 1px blue solid;
    padding-left: .5%;

    margin-left: 10px;
    margin-right: 10px;
}

h1{
    border: 3px solid rgb(196, 10, 10);
    border-radius: 20px;
    background-color: hsl(187, 90%, 23%);
    color: #eaeef0;
    font-size: 50px;
    text-align: center;
 
    margin-bottom: 10px;
    min-width: 500px;

  }
.tabs{
    /*margin: 5%*/
    margin-left: 10% ;
    font-size:medium;
}
.tabs_alt{
    margin-left: 10% ;
    font-size: small;
}
h2{
    padding-top: 0px;
    margin-top: 10px;
    font-size: larger;
  }

.container_overview{
    border: 3px double rgb(196, 10, 10);
    border-radius: 20px;
    background-color: rgb(240, 241, 230);
    color: #750101;
    font-size: 22px;
    text-align: center;
    min-width: 500px;

    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}
.container_general{
    min-width: 500px;

    border: 3px double rgb(196, 10, 10);
    border-radius: 20px;
    background-color: rgb(240, 241, 230);
    color: #1e0000;
    font-size: 14px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.container_example{
    min-width: 500px;
    border: 3px double rgb(196, 10, 10);
    border-radius: 20px;
    background-color: rgb(240, 241, 230);
    color: #1e0000;
    font-size: 20px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 50px;

    /*border: 1px green solid;*/
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
 /* flex items */
 #container > div {
    justify-content: center;
    /*border: 1px blue solid;*/
 }
 
 #background{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(238, 205, 188);
 }

 #background_alt{
    font-family: 'Courier New', Courier, monospace;
   
 }
